<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646014689696-qe3rk969o3ulii742r7bds546ajrrstb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646014689696-qe3rk969o3ulii742r7bds546ajrrstb</string>
	<key>API_KEY</key>
	<string>AIzaSyDFWUooALw-VxIt9XYRVyDaEEz1EAFF3oU</string>
	<key>GCM_SENDER_ID</key>
	<string>646014689696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nureddinelmas.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-2cadf</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-2cadf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646014689696:ios:fd94320406cb0d732d84c5</string>
</dict>
</plist>